{% extends 'base.html' %}

{% block content %}
   <h1>STATUS CHECK</h1>
    <button id="start" class="btn btn-primary">start</button>
    <button id="stop" class="btn btn-primary">stop</button>
    
    <table class="table">
        <tr>
            <th>id</th>
            <th>api</th>
            <th>status</th>
        </tr>
        
        {% for api in apis %}
            <tr>
                <td>{{ api.pk }}</td>
                <td>{{ api.api_name }}</td>
                <td id='api{{ api.pk }}'></td>
            </tr>
        {% endfor %}
    </table>
    <div id='result'></div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 누적값은 로컬변수를 만들어서 해야하는지?? 디비변수로 해도 되는지..?
    // settimer(일정한 시간 후 작업을 한번 실행) or setinterval(일정한 시간 간격으로 작업 수행)
    //'http://openAPI.seoul.go.kr:8088/7a414542756b316d3132377954467477/xml/ChunmanAdoptedSuggestions/1/1'
    startCheck = function(){
        var status_res = '';
        playCheck = setInterval(function(){
            {% for api in apis %}
                document.querySelector('#api{{ api.pk }}').innerHTML = '';
                //console.log('{{ api.api_url }}');
                axios.get('{{ api.api_url }}')
                .then(response => {
                    //console.log(response.data);
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(response.data,'text/xml');
                    status_code = xmlDoc.getElementsByTagName('CODE')[0].childNodes[0].nodeValue;

                    if(status_code == 'INFO-000'){
                        status_res = '정상';
                    } else if(status_code == 'INFO-100' ){
                        status_res = '인증키오류'
                    } else if(status_code == 'ERROR-500' ){
                        status_res = '서버오류'
                    } else if(status_code == 'ERROR-600'){
                        status_res = '데이터베이스오류'
                    } else if(status_code == 'ERROR-601'){
                        status_res = 'SQL문장오류'
                    } else {
                        status_res = '비정상'
                    }
                    document.querySelector('#api{{ api.pk }}').innerHTML = status_res;
                })    
            {% endfor %}
        }, 10000);
    };

    stopCheck = function(){
        clearInterval(playCheck);
    };

    var startButton = document.querySelector('#start')
        startButton.addEventListener('click', function(event){
        startCheck();
    })

    var stopButton = document.querySelector('#stop')
        stopButton.addEventListener('click', function(event){
        stopCheck();
    })

  </script>
{% endblock content %}